.head{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 80px;
}

ul.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    width: 100px;
}
.title{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    gap: 400px;
}
.qc{
    height: 600px;
    width: 400px;
}
.img{
    width: 100px;
    height: 100px;
}
.abc{
    z-index: -1;
    display: flex;
    margin-top: -600px;
    margin-left: -100px;
}
.bg{
    display: flex;
    z-index: 1;
}
button{
    width: 100px;
    height: 50px;
}
input{
    height: 50px;
}