.header{
    display: flex;
    background-color: rgb(255, 215, 0);
    height: 100px;

}
header{
    background-color: rgb(255, 215, 0);
}

input{
    width: 400px;
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 50px;

}
button{
    margin-top: -100px;
    width: 50px;
    height: 40px;
}
.gh{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    margin-left: 20px;
}
.us{
    margin-left: -80px;
    margin-top: 50px;
    width: 150px;
    height: 40px;
    margin-left: -10px;
}
a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif ;
}
.city{

    
}
select.tp{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-top: 40px;
}
ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding-bottom: 10px;
}
.nav-bar{
    text-align: center;
    
}
.mar{
    height: 200px;
    width: 100%;
}
.qc{
    width: 70%;
    margin-left: 200px;
}
.img{
    margin-right: -20px;
}
table ul li{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
} 